@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: rgb(248, 247, 242);
}
.navbar {
  .navbar-brand {
    color: #1e1810;
    font-size: 35px;
    font-weight: 700;
    font-family: "Vollkorn", serif;
    line-height: 1.2;
  }

  .nav-link:active {
    color: #f9c349;
  }

  .nav-link {
    color: #1e1810;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
  }

  .nav-sub {
    color: #62615c;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
}

.hero-text {
  color: #1e1810;
  font-family: "Vollkorn", serif;
  font-size: 30px;
}

.primary-btn {
  background: #f9c349;
  border: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 22px;
  transition: 0.9ms;

  &:hover {
    background: #ffb000;
  }
}

.hero-text2 {
  line-height: 1.8;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #62615c;
}

.hero-text3 {
  line-height: 1.8;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;

  font-weight: bold;
}

.footer {
  background: #62615b;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.contactus-1 {
  background: #fff;
}

.contact-content {
  color: #62615c;
  font-size: 18px;
  line-height: 1.8;
}

.contactus-links {
  color: #f9c349;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.contact-head {
  font-size: 25px;
  font-family: "Vollkorn", serif;
  color: #62615b;
  font-weight: bold;
}

.service-text {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: #62615b;
}
.card-img-top {
  filter: brightness(50%);
}
.title-text {
  color: #fff;
  top: 200px;
  left: 230px;
}

.form {
  width: 336px;
  border: 1px solid #62615b;
  background: #f8f7f2;
}
